.container {
  background: #000;
  width: 132px;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}
.light {
  background: #000;
  width: 132px;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}

#red {
  background-color: red;
}
#yellow {
    background-color:yellow;
  }
#green {
    background-color:green;
}